body{
  background: #dfdfdf;
  font-family: 'Raleway';
  color: rgb(34, 34, 34);
  margin: 0;
}

.container{
  width: 900px;
  margin: 0 auto;
}

.profile{
  text-align: center;
}

.foto-mw{
  border: 2px solid #ffffff;
  border-radius: 50%;
  margin: 30px 30px 0px 30px;
  box-shadow: 0px 0px 0px 10px #dfdfdf;
}

h1{
  margin-top: 0;
  letter-spacing: -1px;
  font-size: 40px;
  font-family: 'PT Sans Narrow', sans-serif;
  margin-bottom: 0;
}

h2{
  margin-top: 0;
  font-style: italic;
  color: rgb(72, 72, 72);
  letter-spacing: -1px;
}

.links-sociais{
  text-decoration: none;
  
}

.icones-redes-sociais{
  width: 20px;
  margin: 0px 10px 0 10px;
}

.lista-habilidades{
  list-style: none;
}

.footer{
  margin-top: 40px;
  background-color: #000000;
  text-align: center;
  color: #ffffff;
}